<style>
   .squarebox i{
     font-size: 50px !important;
   }
   .square_box .number {
     font-size: 30px !important;
     text-align: left;
     font-weight: 700;
 }
 </style>
 <div class="animated fadeIn">
   <section class="content indexpage">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 my-3">
            <div class="card card-border">
               <div class="card-header bg-success text-white">
                  <i class="fa fa-lightbulb-o" aria-hidden="true"></i> My Innovations
                  <button  (click)="create_innovation()" class="btn btn-sm btn-warning text-dark float-right">
                  <i class="fa fa-plus fa-fw"></i>Add Innovation</button>
               </div>
               <div class="card-body" *ngIf="!is_im_review_view">
                  <div class="table-responsive-lg table-responsive-md table-responsive-sm table-responsive">
                     <table class="wikitable table-bordered" id="table">
                        <thead>
                           <tr class="filters">
                              <th>#</th>
                              <th>Innovation Name</th>
                              <th class="text-center">Status</th>
                              <th class="text-center">Progress Stage</th>
                              <th class="text-center">Actions</th>
                           </tr>
                           <tr class="filters" *ngFor="let innovation of my_innovations; let i = index">
                              <td>{{i+1}}</td>
                              <td>{{innovation?.details?.innovation_name}}</td>
                              <td class="text-center">
                                 <span class="bg-success p-1 rounded-lg" *ngIf="innovation?.status === 'EVALUATED'">{{innovation?.status}}</span>
                                 <span class="bg-success p-1 rounded-lg" *ngIf="innovation?.status === 'APPROVED'">{{innovation?.status}}</span>
                                 <span class="bg-info p-1 rounded-lg" *ngIf="innovation?.status === 'COMPLETED'">SUBMITTED</span>
                                 <span class="bg-warning p-1 rounded-lg" *ngIf="innovation?.status === 'RESUBMIT'">{{innovation?.status}}</span>
                                 <span class="bg-warning p-1 rounded-lg" *ngIf="innovation?.status === 'RESUBMITTED'">{{innovation?.status}}</span>
                                 <span class="bg-warning p-1 rounded-lg" *ngIf="innovation?.status === 'ONGOING'">INCOMPLETE</span>
                                 <span class="bg-danger p-1 rounded-lg" *ngIf="innovation?.status === 'DROPPED'">{{innovation?.status}}</span>
                                 <span class="bg-secondary p-1 rounded-lg" *ngIf="innovation?.status === 'UNDER_REVIEW'">{{innovation?.status}}</span>
                              </td>
                              <td class="text-center">
                                 {{innovation?.stage}} <b>/ VII</b>
                              </td>
                              <td class="text-center">
                                 <button class="btn btn-info btn-sm" *ngIf="innovation?.edit !== true" (click)="review_completed(innovation?.id,'COMPLETED')">View</button>
                                 <button class="btn btn-primary btn-sm" *ngIf="innovation.status == 'ONGOING'"  (click)="create_innovation()">Complete</button>
                                 <!-- <button class="btn btn-warning btn-sm" *ngIf="innovation?.status !== 'ONGOING' && innovation?.edit == true" (click)="review_completed(innovation?.id,innovation_data?.status,true)">Edit</button> -->
                                 <button class="btn btn-success btn-sm" *ngIf="innovation?.im_reviews?.length !== 0" (click)="retrieve_im_reviews(i)">Reviews</button>
                              </td>
                           </tr>
                        </thead>
                        <tbody>
                        </tbody>
                     </table>
                     <div class="text-center text-danger" *ngIf="my_innovations?.length == 0">
                        <h6><i class="fa fa-exclamation-circle" aria-hidden="true"></i> No Innovation Added Yet</h6>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
 </div>



 <!-- LEAD INNOVATION MANAGER REVIEW -->
<section class="content">
   <div class="row" *ngIf="lead_innovation_review">
      <div class="col-lg-12">
         <div class="card ">
            <div class="card-header bg-success text-white clearfix">
               <span class=" float-left">
                  <i class="fa fa-file-text" aria-hidden="true"></i> 
                  Innovation Reviews
               </span>                               
            </div>
            <br/>
            <div class="card-body">
               <!--main content-->
               <!-- <form id="add-note-form" class="form-horizontal" [formGroup]="IMEvaluationForm"> -->
                   <div class="row">
                       <div class="col-md-12 mb-3">
                           <div class="table-responsive">
                               <table
                                   class="wikitable table-striped table-bordered table-advance table-hover">
                                   <thead>
                                   <tr>
                                       <th width=40%>
                                           Innovation Field
                                       </th>
                                       <th>
                                           Comments
                                       </th>
                                   </tr>
                                   </thead>
                                   <tbody >
                                   <tr>
                                       <td>
                                           <b>Innovation Name</b> 
                                           <br> 
                                           {{innovation_data?.details?.innovation_name}}
                                       </td>
                                       <td>                                          
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Observation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.innovation_name_observation}}</p>
                                          </div>
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Recommendation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.innovation_name_recommendation}}</p>                                               
                                          </div>
                                       </td>
                                   </tr>
                                   <tr>
                                       <td>
                                           <b>Innovation brief </b>
                                           <br> 
                                           {{innovation_data?.information?.innovation_brief}}
                                       </td>
                                       <td>   
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Observation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.innovation_brief_observation}}</p>
                                          </div>
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Recommendation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.innovation_brief_recommendation}}</p>                                               
                                          </div>                                         
                                       </td>
                                   </tr>
                                   <tr>
                                       <td>
                                           <b>Value Proposition</b>
                                           <br>
                                           {{innovation_data?.information?.value_proposition}}
                                        </td>
                                       <td>
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Observation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.value_proposition_observation}}</p>
                                          </div>
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Recommendation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.value_proposition_recommendation}}</p>                                               
                                          </div> 
                                       </td>
                                   </tr>
                                   <tr>                                            
                                       <td>
                                           <b>Industry </b>
                                           <br> 
                                           {{innovation_data?.details?.industry?.name}} 
                                       </td>
                                       <td>
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Observation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.industry_observation}}</p>
                                          </div>
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Recommendation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.industry_recommendation}}</p>                                               
                                          </div> 
                                       </td>
                                   </tr>
                                   <tr>
                                       <td>
                                          <b>Area of focus</b> <br> {{innovation_data?.details?.area_of_focus}}</td>
                                       <td> 
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Observation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.area_of_focus_observation}}</p>
                                          </div>
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Recommendation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.area_of_focus_recommendation}}</p>                                               
                                          </div>
                                       </td>
                                   </tr>
                                   <tr>
                                       <td> <b>Development stage</b> <br> {{innovation_data?.details?.development_stage?.name}}</td>
                                       <td>  
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Observation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.development_stage_observation}}</p>
                                          </div>
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Recommendation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.development_stage_recommendation}}</p>                                               
                                          </div>
                                       </td>
                                   </tr>
                                   <tr>
                                       <td>
                                          <b>Innovation has a prototype</b> <br>
                                          <span *ngIf="innovation_data?.details?.development_stage?.name == 'I have a prototype'">Yes</span>
                                          <span *ngIf="innovation_data?.details?.development_stage?.name != 'I have a prototype'">No</span>
                                       </td>
                                       <td>
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Observation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.prototype_observation}}</p>
                                          </div>
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Recommendation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.prototype_recommendation}}</p>                                               
                                          </div>                                           
                                       </td>
                                   </tr>
                                   <tr>                                           
                                       <td><b>Start-up or Innovation Description video</b> <br> <a href="{{innovation_data?.social_links?.innovation_video}}" target="_blank">{{innovation_data?.social_links?.innovation_video}}</a> </td>
                                       <td>
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Observation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.description_video_observation}}</p>
                                          </div>
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Recommendation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.description_video_recommendation}}</p>                                               
                                          </div>
                                       </td>
                                   </tr>
                                   <tr>
                                       <td><b>Has innovation been disclosed</b> <br> {{innovation_data?.details?.is_pitched_before}}</td>
                                       <td>   
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Observation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.is_pitched_before_observation}}</p>
                                          </div>
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Recommendation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.is_pitched_before_recommendation}}</p>                                               
                                          </div> 
                                       </td>
                                   </tr>
                                   <tr>
                                       <td><b>Does innovation needs accreditation</b> <br> {{innovation_data?.details?.require_accreditation}} </td>
                                       <td>             
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Observation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.require_accreditation_observation}}</p>
                                          </div>
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Recommendation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.require_accreditation_recommendation}}</p>                                               
                                          </div>  
                                       </td>
                                   </tr>
                                   <tr>
                                       <td><b>Is Innovation Affiliated to Any Hub?</b> <br> {{innovation_data?.details?.hub_affiliation}} </td>
                                       <td> 
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Observation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.hub_affiliation_observation}}</p>
                                          </div>
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Recommendation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.hub_affiliation_recommendation}}</p>                                               
                                          </div> 
                                       </td>
                                   </tr>
                                   <tr>
                                       <td><b>Innovation IP</b>
                                          <br>
                                          <span *ngIf="innovation_data?.details?.intellectual_property?.length !== 0">
                                             {{innovation_data.details.intellectual_property.name}}
                                          </span>
                                          <span *ngIf="innovation_data?.details?.intellectual_property?.length == 0">None</span>
                                       </td>                                        
                                       <td>
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Observation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.intellectual_property_observation}}</p>
                                          </div>
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Recommendation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.intellectual_property_recommendation}}</p>                                               
                                          </div> 
                                       </td>
                                   </tr>
                                   <tr>
                                       <td><b>Problem(s)</b> <br> {{innovation_data?.information?.problem_statement}} </td>
                                       <td>   
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Observation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.problem_statement_observation}}</p>
                                          </div>
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Recommendation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.problem_statement_recommendation}}</p>                                               
                                          </div>                                            
                                       </td>
                                   </tr>
                                   <tr>
                                       <td><b>Target customer</b> <br> {{innovation_data?.information?.target_customers}} </td>
                                       <td>
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Observation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.target_customers_observation}}</p>
                                          </div>
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Recommendation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.target_customers_recommendation}}</p>                                               
                                          </div>  
                                       </td>
                                   </tr>
                                   <tr>
                                       <td><b>Solution</b> <br> {{innovation_data?.information?.solution}}</td>
                                       <td>
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Observation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.solution_observation}}</p>
                                          </div>
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Recommendation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.solution_recommendation}}</p>                                               
                                          </div> 
                                       </td>
                                   </tr>
                                   <tr>
                                       <td><b>How it works</b> <br> {{innovation_data?.information?.how_it_works}}</td>
                                       <td>
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Observation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.how_it_works_observation}}</p>
                                          </div>
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Recommendation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.how_it_works_recommendation}}</p>                                               
                                          </div> 
                                       </td>
                                   </tr>
                                   <tr>
                                       <td><b>Competitors</b> <br> {{innovation_data?.information?.competitors}}</td>
                                       <td>     
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Observation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.competitors_observation}}</p>
                                          </div>
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Recommendation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.competitors_recommendation}}</p>                                               
                                          </div>   
                                       </td>
                                   </tr>
                                   <tr>
                                       <td>Competitive advantage <br> {{innovation_data?.information?.competitive_advantage}} </td>
                                       <td>      
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Observation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.competitive_advantage_observation}}</p>
                                          </div>
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Recommendation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.competitive_advantage_recommendation}}</p>                                               
                                          </div> 
                                       </td>
                                   </tr>
                                   <tr>
                                       <td><b>Background Research</b> <br> {{innovation_data?.information?.background_research}} </td>
                                       <td>    
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Observation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.background_research_observation}}</p>
                                          </div>
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Recommendation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.background_research_recommendation}}</p>                                               
                                          </div>   
                                       </td>
                                   </tr>
                                   <tr>
                                       <td><b>Impact</b> <br> {{innovation_data?.information?.impact}} </td>
                                       <td>   
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Observation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.impact_observation}}</p>
                                          </div>
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Recommendation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.impact_recommendation}}</p>                                               
                                          </div>  
                                       </td>
                                   </tr>
                                   <tr>
                                       <td>
                                           <b>Support required</b>
                                           <br>
                                           <ol>
                                               <li *ngFor="let service of innovation_data.support_services">{{service?.service?.service}}</li>
                                               <li *ngIf="innovation_data?.other_support_services">{{innovation_data?.other_support_services?.service}}</li>
                                           </ol>
                                       </td>
                                       <td>
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Observation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.support_required_observation}}</p>
                                          </div>
                                          <div class="col-sm-12 col-lg-12">
                                             <b>Recommendation:</b>
                                             <p>{{innovation_data?.im_reviews?.review.support_required_recommendation}}</p>                                               
                                          </div>  
                                       </td>
                                   </tr>
                                   </tbody>
                               </table>
                               <div class="col-sm-12 col-lg-12 mb-2 mt-1">
                                   <b>General Comment:</b>
                                   <div class="m-0 p-0" [innerHTML]="innovation_data?.im_reviews?.review.final_comment"></div>                                  
                               </div>
                           </div>
                       </div>
                       <div class="col-md-12" *ngIf="innovation_data?.edit">
                        <!-- <div class="col-md-12"> -->
                           <div class="form-group">
                               <button class="btn btn-warning"  (click)="toogle_im_review()">
                                 <i class="fa fa-times" aria-hidden="true"></i> &nbsp;
                                   Close
                               </button>
                               <button class="btn btn-primary float-right col-4" (click)="review_completed(innovation_data?.id,innovation_data?.status,true)">
                                   <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;
                                   Edit
                               </button>
                           </div>
                       </div>
                       <div class="col-md-12" *ngIf="!innovation_data?.edit">
                        <!-- <div class="col-md-12"> -->
                           <div class="form-group text-center mt-2">
                               <button class="btn btn-success col-6"  (click)="innovator_has_read_reviews(innovation_data?.id)">
                                 <i class="fa fa-check" aria-hidden="true"></i> &nbsp;
                                   Mark as Read
                               </button>
                           </div>
                       </div>
                   </div>
            </div>
         </div>
      </div>
   </div>
   <!--row end-->
</section>