<style>
   .inTable table{
      border: 0px !important;
   }
   .inTable table td{
      border: 0px !important;
   }
   .candidates-table th {
      /* border: 0px !important; */
      border-top-width: 0px !important;
      border-left-width: 0px !important;
      border-right-width: 0px !important;
      border-bottom-width: 1px !important;
   }
</style>
<section class="content pr-3 pl-3">
  <div class="row">
     <div class="col-lg-12">
        <div class="card ">
           <div class="card-header">
              <h5>
                  <span class=" float-left">
                     <i class="fa fa-id-card-o" aria-hidden="true"></i> &nbsp;
                     Vote
                  </span>
               </h5>
           </div>
           <br />
           <div class="card-body">
              <div class="table-responsive-lg table-responsive-md table-responsive-sm table-responsive">
                 <table class="wikitable table-bordered width100" id="table">
                    <thead>
                       <tr class="filters">
                          <th></th>
                          <th>Position</th>
                          <th>Candidates</th>
                       </tr>
                       <tr *ngFor="let position of candidates; let i = index">
                          <!-- {{position | json}} -->
                           <td>{{i+1}}</td>
                           <td>{{position?.position}}</td>
                           <td class="inTable">
                              <!-- <input type="radio" class="form-control" formControlName="" > -->
                              <table style="border:0px !important" class="candidates-table">
                                 <!-- <tr>
                                    <th width="20%">Picture</th>
                                    <th width="20%">Name</th>
                                    <th width="20%">Select</th>
                                 </tr> -->
                                 <!-- <div class="form-check" > -->
                                    <tr *ngFor="let candidate of position?.candidates;">
                                       <td width="20%">
                                          <span class="profile_picture">
                                             <figure style="width: 15% !important">
                                                <img src={{serverurl}}{{candidate?.profile_picture?.profile_picture}} alt="">
                                             </figure>
                                          </span>   
                                       </td>
                                       <td width="20%">
                                          <!-- <label class="form-check-label" for="{{candidate?.candidate?.id}}">                                                                      -->
                                             {{candidate?.candidate?.first_name}} {{candidate?.candidate?.last_name}}
                                          <!-- </label> -->
                                       </td>
                                       <td width="20%">
                                          <input class="form-contro" type="radio" name="{{position?.position}}" value="{{candidate?.candidate?.id}}" id="{{candidate?.candidate?.id}}" (change)="handle_vote(position?.position, candidate?.candidate?.id)">
                                       </td>
                                    </tr>                                 
                                 <!-- </div> -->
                              </table>
                           </td>
                       </tr>
                    </thead>
                    <tbody>
                    </tbody>
                 </table>
                 <button class="btn btn-behance" type="submit" (click)="submit_vote()">Vote</button>
              </div>
           </div>
        </div>
     </div>
  </div>
  <!-- row-->
</section>



<!-- modal -->
<div bsModal #addAssignmentModal="bs-modal" class="modal fade" >
   <div class="modal-dialog modal-primary" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title">
            <i class="fa fa-file-text-o" aria-hidden="true"></i> &nbsp;
             View Assignment 
                          
           </h5>
         <button type="button" class="close" (click)="addAssignmentModal.hide(); reset_form()" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body container">
         <form id="add-assignment-form" [formGroup]="AddAssignmentsForm" enctype="multipart/form-data">
            <div class="form-group row">
               <div class="col-sm-12">                                    
                  <label class="control-label" for="title">
                  Assignment Title
                  </label>
               </div>
               <div class="col-sm-12">                                    
                  <input type="text" value="" required class="form-control required" formControlName="title" id="title" placeholder="" >
               </div>
            </div>
            <div class="form-group row">
               <div class="col-sm-12">                                    
                  <label class="control-label" for="innovation_id">
                  Innovation Name
                  </label>
               </div>
               <div class="col-sm-12">
                  <div class="form-group row">                    
                     <div class="col-sm-12">                                    
                        <input type="text" value="" required class="form-control required" formControlName="innovation" id="innovation" placeholder="" >
                     </div>
                 </div>                 
               </div>
            </div>
            <div class="form-group row">
               <div class="col-sm-12">                                    
                  <label class="control-label" for="deadline">
                  Assignment Due Date
                  </label>
               </div>
               <div class="col-sm-12">
                  <div class="input-group">
                     <div class="input-group-append">
                        <span class="input-group-text">
                        <i class="livicon" data-name="calendar" data-size="16" data-c="#007cdc" data-hc="#c1272d" data-loop="true"></i>
                        </span>
                     </div>
                     <input class="form-control required" value="" required min="2025-09-15" type="date" formControlName="deadline" placeholder="" >
                  </div>
               </div>
            </div>
            <div class="form-group row">
               <div class="col-sm-12">                                    
                  <label class="control-label" for="file">
                  Assignment file
                  </label>
               </div>
               <div class="col-sm-12 mb-1">
                  <p *ngIf="file_url !== ''"><a href="{{file_url}}" >Download Assignment File</a></p>
                  <p *ngIf="!file_url" class="text-warning">No File Available</p>
               </div>
            </div>
            <div class="form-group row">
               <div class="col-sm-12">
                  <label class="control-label" for="description">
                  Assignment Description
                  </label>
               </div>
               <div class="col-sm-12">
                  <quill-editor formControlName="description" class="content-editor" [placeholder]="'Type here ...'" > </quill-editor>
               </div>
            </div>
         </form>
       </div>        
       <br><br><br><br>
       <div class="modal-footer ">
         <button class="btn btn-warning" (click)="addAssignmentModal.hide(); submitAssignmentModal.show()">Submit</button>
         <button  type="submit"  (click)="addAssignmentModal.hide(); reset_form()" aria-label="Close" class="btn btn-secondary col-md-4 m-1">Close</button>       
       </div>
     </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->





<!-- modal -->
<div bsModal #submitAssignmentModal="bs-modal" class="modal fade" >
   <div class="modal-dialog modal-primary" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title">
            <i class="fa fa-file-text-o" aria-hidden="true"></i> &nbsp;
             Submit Assignment                           
           </h5>
         <button type="button" class="close" (click)="submitAssignmentModal.hide(); reset_form()" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body container">
         <form id="add-assignment-form" [formGroup]="submitAssignmentsForm" enctype="multipart/form-data">
            <div class="form-group row">
               <div class="col-sm-12">                                    
                  <label class="control-label" for="file">
                  Attach file
                  </label>
               </div>
               <div class="col-sm-12 mb-1">
                  <input type="file" class="required" id="file" formControlName="file"  (change)="handleFileupload($event)">
               </div>
            </div>
            <div class="form-group row">
               <div class="col-sm-12">
                  <label class="control-label" for="description">
                  Assignment Response
                  </label>
               </div>
               <div class="col-sm-12">
                  <quill-editor formControlName="response" class="content-editor" [placeholder]="'Type here ...'" > </quill-editor>
               </div>
            </div>
         </form>
       </div>        
       <br><br><br><br>
       <div class="modal-footer ">
         
         <button  type="submit"  (click)="add_assignment_response(); submitAssignmentModal.hide(); reset_form()" aria-label="Close" class="btn btn-info col-md-6 m-1">Submit</button>       
       </div>
     </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->