<div class="row">
   <div class="col-lg-7">
      <div class="central-meta new-pst">
         <div class="new-postbox">
            <figure>
               <img src={{serverurl}}{{profile_picture?.profile_picture}} alt="">
            </figure>
            <div class="newpst-input">
               <form [formGroup]="PostForm" enctype="multipart/form-data" (ngSubmit)="save_post()">
                  <textarea rows="2" placeholder="write something" formControlName="post"></textarea>
                  <div class="attachments">
                     <ul>
                        <!-- <li>
                           <i class="fa fa-music"></i>
                           <label class="fileContainer">
                              <input type="file">
                           </label>
                        </li>
                        <li>
                           <i class="fa fa-image"></i>
                           <label class="fileContainer">
                              <input type="file">
                           </label>
                        </li>
                        <li>
                           <i class="fa fa-video-camera"></i>
                           <label class="fileContainer">
                              <input type="file">
                           </label>
                        </li> -->
                        <li>
                           <i class="fa fa-camera"></i>
                           <label class="fileContainer">
                              <input type="file" (change)="handleFileupload($event)">
                           </label>
                        </li>
                        <li>
                           <button type="submit">Post</button>
                        </li>
                     </ul>
                  </div>
               </form>
            </div>
         </div>
      </div><!-- add post new box -->
      <!-- <div class="loadMore"> -->
      <div class="central-meta item" *ngFor="let post of posts">
         <div class="user-post">
            <div class="friend-info">
               <figure>
                  <img src={{serverurl}}{{post?.profile_picture?.profile_picture}} loading="lazy" alt="">
               </figure>
               <div class="friend-name">
                  <ins><span class="btn-link" style="text-decoration: none;font-weight: 500; font-size: 14.5px;"><b>{{post?.candidate?.first_name}} {{post?.candidate?.last_name}}</b></span></ins>
                  <span>published: {{post?.date_created | date}}</span>
               </div>
               <div class="post-meta">
                  <img src="{{serverurl}}{{post?.post_image?.image}}" alt="">
                  <div class="we-video-info">
                     <ul>
                        <li>
                           <span class="views" data-toggle="tooltip" title="views">
                              <i class="fa fa-eye"></i>
                              <ins>{{post?.post_seen}}</ins>
                           </span>
                        </li>
                        <li>
                           <span class="like" data-toggle="tooltip" title="like" (click)="like_post(post?.id)">
                              <i class="fa fa-heart" *ngIf="post?.have_liked"></i><i class="fa fa-heart-o" *ngIf="!post?.have_liked"></i>
                              <ins>{{post?.post_likes}}</ins>
                           </span>
                        </li>
                        <li>
                           <span class="comment" data-toggle="tooltip" title="Comments">
                              <i class="fa fa-comments-o"></i>
                              <ins>{{post?.post_comments?.length}}</ins>
                           </span>
                        </li>
                        
                        <!-- <li>
                           <span class="dislike" data-toggle="tooltip" title="dislike">
                              <i class="ti-heart-broken"></i>
                              <ins>200</ins>
                           </span>
                        </li> -->
                        <li class="social-media">
                           <div class="menu">
                           <div class="btn trigger"><i class="fa fa-share-alt"></i></div>
                           <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-html5"></i></a></div>
                           </div>
                           <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-facebook"></i></a></div>
                           </div>
                           <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-google-plus"></i></a></div>
                           </div>
                           <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-twitter"></i></a></div>
                           </div>
                           <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-css3"></i></a></div>
                           </div>
                           <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-instagram"></i></a>
                              </div>
                           </div>
                              <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-dribbble"></i></a>
                              </div>
                           </div>
                           <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-pinterest"></i></a>
                              </div>
                           </div>

                           </div>
                        </li>
                     </ul>
                  </div>
                  <div class="description">
                     
                     <p>
                        {{post?.post}}
                     </p>
                  </div>
               </div>
            </div>
            <div class="coment-area">
               <ul class="we-comet">
                  <li *ngFor="let comment of post?.post_comments">
                     <div class="comet-avatar">
                        <img src={{serverurl}}{{comment?.profile_picture?.profile_picture}} alt="">
                     </div>
                     <div class="we-comment">
                        <div class="coment-head">
                           <h5><a href="time-line.html" title="">{{comment?.commentor?.first_name}} {{comment?.commentor?.last_name}}</a></h5>
                           <span>{{comment?.date_created | date}}</span>
                           <span class="we-reply btn-link text-primary"  title="Reply"><i class="fa fa-reply" (click)="replyBox(comment?.id)"></i></span>
                        </div>
                        <p>{{comment?.comment}}</p>
                        <div class="post-comt-box pt-2" *ngIf="reply_box_id == comment.id">
                           <form [formGroup]="CommentForm" (ngSubmit)="save_comment_child()">
                              <textarea placeholder="Post reply..." formControlName="comment" (keyup.enter)="save_comment_child()" ></textarea>
                              <div class="add-smiles">
                                 <span class="em em-expressionless" title="add icon"></span>
                              </div>
                              <div class="smiles-bunch">
                                 <i class="em em---1"></i>
                                 <i class="em em-smiley"></i>
                                 <i class="em em-anguished"></i>
                                 <i class="em em-laughing"></i>
                                 <i class="em em-angry"></i>
                                 <i class="em em-astonished"></i>
                                 <i class="em em-blush"></i>
                                 <i class="em em-disappointed"></i>
                                 <i class="em em-worried"></i>
                                 <i class="em em-kissing_heart"></i>
                                 <i class="em em-rage"></i>
                                 <i class="em em-stuck_out_tongue"></i>
                              </div>
                              <button type="submit"></button>
                           </form>	
                        </div>
                     </div>
                     <ul>
                        <li *ngFor="let child of comment?.children">
                           <div class="comet-avatar">
                              <img src={{serverurl}}{{child?.profile_picture?.profile_picture}} alt="">
                           </div>
                           <div class="we-comment">
                              <div class="coment-head">
                                 <h5><a href="time-line.html" title="">{{child?.commentor?.first_name}} {{child?.commentor?.last_name}}</a></h5>
                                 <span>{{child?.date_created | date}}</span>
                                 <!-- <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a> -->
                              </div>
                              <p>{{child?.child}}</p>
                           </div>
                        </li>
                     </ul>
                  </li>
                  <li>
                     <a href="#" title="" class="showmore underline">more comments</a>
                  </li>
                  <li class="post-comment">
                     <div class="comet-avatar">
                        <img src={{serverurl}}{{post?.profile_picture?.profile_picture}} alt="">
                     </div>
                     <div class="post-comt-box">
                        <form [formGroup]="CommentForm" (ngSubmit)="save_comment()">
                           <textarea placeholder="Post your comment" formControlName="comment" (keyup.enter)="save_comment(post?.id)" #commentbox></textarea>
                           <div class="add-smiles">
                              <span class="em em-expressionless" title="add icon"></span>
                           </div>
                           <div class="smiles-bunch">
                              <i class="em em---1"></i>
                              <i class="em em-smiley"></i>
                              <i class="em em-anguished"></i>
                              <i class="em em-laughing"></i>
                              <i class="em em-angry"></i>
                              <i class="em em-astonished"></i>
                              <i class="em em-blush"></i>
                              <i class="em em-disappointed"></i>
                              <i class="em em-worried"></i>
                              <i class="em em-kissing_heart"></i>
                              <i class="em em-rage"></i>
                              <i class="em em-stuck_out_tongue"></i>
                           </div>
                           <button type="submit"></button>
                        </form>	
                     </div>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="central-meta item">
         <div class="user-post">
            <div class="friend-info">
               <figure>
                  <img src="images/resources/friend-avatar10.jpg" alt="">
               </figure>
               <div class="friend-name">
                  <ins><a href="time-line.html" title="">Janice Griffith</a></ins>
                  <span>published: june,2 2018 19:PM</span>
               </div>
               <div class="post-meta">
                  <img src="images/resources/user-post.jpg" alt="">
                  <div class="we-video-info">
                     <ul>
                        <li>
                           <span class="views" data-toggle="tooltip" title="views">
                              <i class="fa fa-eye"></i>
                              <ins>1.2k</ins>
                           </span>
                        </li>
                        <li>
                           <span class="comment" data-toggle="tooltip" title="Comments">
                              <i class="fa fa-comments-o"></i>
                              <ins>52</ins>
                           </span>
                        </li>
                        <li>
                           <span class="like" data-toggle="tooltip" title="like">
                              <i class="ti-heart"></i>
                              <ins>2.2k</ins>
                           </span>
                        </li>
                        <li>
                           <span class="dislike" data-toggle="tooltip" title="dislike">
                              <i class="ti-heart-broken"></i>
                              <ins>200</ins>
                           </span>
                        </li>
                        <li class="social-media">
                           <div class="menu">
                           <div class="btn trigger"><i class="fa fa-share-alt"></i></div>
                           <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-html5"></i></a></div>
                           </div>
                           <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-facebook"></i></a></div>
                           </div>
                           <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-google-plus"></i></a></div>
                           </div>
                           <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-twitter"></i></a></div>
                           </div>
                           <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-css3"></i></a></div>
                           </div>
                           <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-instagram"></i></a>
                              </div>
                           </div>
                              <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-dribbble"></i></a>
                              </div>
                           </div>
                           <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-pinterest"></i></a>
                              </div>
                           </div>

                           </div>
                        </li>
                     </ul>
                  </div>
                  <div class="description">
                     
                     <p>
                        World's most beautiful car in Curabitur <a href="#" title="">#test drive booking !</a> the most beatuiful car available in america and the saudia arabia, you can book your test drive by our official website
                     </p>
                  </div>
               </div>
            </div>
            <div class="coment-area">
               <ul class="we-comet">
                  <li>
                     <div class="comet-avatar">
                        <img src="images/resources/comet-1.jpg" alt="">
                     </div>
                     <div class="we-comment">
                        <div class="coment-head">
                           <h5><a href="time-line.html" title="">Jason borne</a></h5>
                           <span>1 year ago</span>
                           <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                        </div>
                        <p>we are working for the dance and sing songs. this car is very awesome for the youngster. please vote this car and like our post</p>
                     </div>
                     <ul>
                        <li>
                           <div class="comet-avatar">
                              <img src="images/resources/comet-2.jpg" alt="">
                           </div>
                           <div class="we-comment">
                              <div class="coment-head">
                                 <h5><a href="time-line.html" title="">alexendra dadrio</a></h5>
                                 <span>1 month ago</span>
                                 <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                              </div>
                              <p>yes, really very awesome car i see the features of this car in the official website of <a href="#" title="">#Mercedes-Benz</a> and really impressed :-)</p>
                           </div>
                        </li>
                        <li>
                           <div class="comet-avatar">
                              <img src="images/resources/comet-3.jpg" alt="">
                           </div>
                           <div class="we-comment">
                              <div class="coment-head">
                                 <h5><a href="time-line.html" title="">Olivia</a></h5>
                                 <span>16 days ago</span>
                                 <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                              </div>
                              <p>i like lexus cars, lexus cars are most beautiful with the awesome features, but this car is really outstanding than lexus</p>
                           </div>
                        </li>
                     </ul>
                  </li>
                  <li>
                     <div class="comet-avatar">
                        <img src="images/resources/comet-1.jpg" alt="">
                     </div>
                     <div class="we-comment">
                        <div class="coment-head">
                           <h5><a href="time-line.html" title="">Donald Trump</a></h5>
                           <span>1 week ago</span>
                           <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                        </div>
                        <p>we are working for the dance and sing songs. this video is very awesome for the youngster. please vote this video and like our channel
                           <i class="em em-smiley"></i>
                        </p>
                     </div>
                  </li>
                  <li>
                     <a href="#" title="" class="showmore underline">more comments</a>
                  </li>
                  <li class="post-comment">
                     <div class="comet-avatar">
                        <img src="images/resources/comet-1.jpg" alt="">
                     </div>
                     <div class="post-comt-box">
                        <form method="post">
                           <textarea placeholder="Post your comment"></textarea>
                           <div class="add-smiles">
                              <span class="em em-expressionless" title="add icon"></span>
                           </div>
                           <div class="smiles-bunch">
                              <i class="em em---1"></i>
                              <i class="em em-smiley"></i>
                              <i class="em em-anguished"></i>
                              <i class="em em-laughing"></i>
                              <i class="em em-angry"></i>
                              <i class="em em-astonished"></i>
                              <i class="em em-blush"></i>
                              <i class="em em-disappointed"></i>
                              <i class="em em-worried"></i>
                              <i class="em em-kissing_heart"></i>
                              <i class="em em-rage"></i>
                              <i class="em em-stuck_out_tongue"></i>
                           </div>
                           <button type="submit"></button>
                        </form>	
                     </div>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="central-meta item">
         <div class="user-post">
            <div class="friend-info">
               <figure>
                  <img src="images/resources/nearly1.jpg" alt="">
               </figure>
               <div class="friend-name">
                  <ins><a href="time-line.html" title="">Sara Grey</a></ins>
                  <span>published: june,2 2018 19:PM</span>
               </div>
               <div class="post-meta">
                  <iframe width="" height="285" src="https://www.youtube.com/embed/_-StQsHSTz0" frameborder="0" allowfullscreen></iframe>
                  
                  <div class="we-video-info">
                     <ul>
                        <li>
                           <span class="views" data-toggle="tooltip" title="views">
                              <i class="fa fa-eye"></i>
                              <ins>1.2k</ins>
                           </span>
                        </li>
                        <li>
                           <span class="comment" data-toggle="tooltip" title="Comments">
                              <i class="fa fa-comments-o"></i>
                              <ins>52</ins>
                           </span>
                        </li>
                        <li>
                           <span class="like" data-toggle="tooltip" title="like">
                              <i class="ti-heart"></i>
                              <ins>2.2k</ins>
                           </span>
                        </li>
                        <li>
                           <span class="dislike" data-toggle="tooltip" title="dislike">
                              <i class="ti-heart-broken"></i>
                              <ins>200</ins>
                           </span>
                        </li>
                        <li class="social-media">
                           <div class="menu">
                           <div class="btn trigger"><i class="fa fa-share-alt"></i></div>
                           <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-html5"></i></a></div>
                           </div>
                           <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-facebook"></i></a></div>
                           </div>
                           <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-google-plus"></i></a></div>
                           </div>
                           <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-twitter"></i></a></div>
                           </div>
                           <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-css3"></i></a></div>
                           </div>
                           <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-instagram"></i></a>
                              </div>
                           </div>
                              <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-dribbble"></i></a>
                              </div>
                           </div>
                           <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-pinterest"></i></a>
                              </div>
                           </div>

                           </div>
                        </li>
                     </ul>
                  </div>
                  <div class="description">
                     
                     <p>
                        Lonely Cat Enjoying in Summer Curabitur <a href="#" title="">#mypage</a> ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc,
                     </p>
                  </div>
               </div>
            </div>
            <div class="coment-area">
               <ul class="we-comet">
                  <li>
                     <div class="comet-avatar">
                        <img src="images/resources/comet-1.jpg" alt="">
                     </div>
                     <div class="we-comment">
                        <div class="coment-head">
                           <h5><a href="time-line.html" title="">Jason borne</a></h5>
                           <span>1 year ago</span>
                           <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                        </div>
                        <p>we are working for the dance and sing songs. this video is very awesome for the youngster. please vote this video and like our channel</p>
                     </div>

                  </li>
                  <li>
                     <div class="comet-avatar">
                        <img src="images/resources/comet-2.jpg" alt="">
                     </div>
                     <div class="we-comment">
                        <div class="coment-head">
                           <h5><a href="time-line.html" title="">Sophia</a></h5>
                           <span>1 week ago</span>
                           <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                        </div>
                        <p>we are working for the dance and sing songs. this video is very awesome for the youngster.
                           <i class="em em-smiley"></i>
                        </p>
                     </div>
                  </li>
                  <li>
                     <a href="#" title="" class="showmore underline">more comments</a>
                  </li>
                  <li class="post-comment">
                     <div class="comet-avatar">
                        <img src="images/resources/comet-2.jpg" alt="">
                     </div>
                     <div class="post-comt-box">
                        <form method="post">
                           <textarea placeholder="Post your comment"></textarea>
                           <div class="add-smiles">
                              <span class="em em-expressionless" title="add icon"></span>
                           </div>
                           <div class="smiles-bunch">
                              <i class="em em---1"></i>
                              <i class="em em-smiley"></i>
                              <i class="em em-anguished"></i>
                              <i class="em em-laughing"></i>
                              <i class="em em-angry"></i>
                              <i class="em em-astonished"></i>
                              <i class="em em-blush"></i>
                              <i class="em em-disappointed"></i>
                              <i class="em em-worried"></i>
                              <i class="em em-kissing_heart"></i>
                              <i class="em em-rage"></i>
                              <i class="em em-stuck_out_tongue"></i>
                           </div>
                           <button type="submit"></button>
                        </form>	
                     </div>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="central-meta item">
         <div class="user-post">
            <div class="friend-info">
               <figure>
                  <img src="images/resources/nearly6.jpg" alt="">
               </figure>
               <div class="friend-name">
                  <ins><a href="time-line.html" title="">Sophia</a></ins>
                  <span>published: january,5 2018 19:PM</span>
               </div>
               <div class="post-meta">
                  <div class="post-map">
                     <div class="nearby-map">
                        <div id="map-canvas"></div>
                     </div>
                  </div><!-- near by map -->
                  <div class="we-video-info">
                     <ul>
                        <li>
                           <span class="views" data-toggle="tooltip" title="views">
                              <i class="fa fa-eye"></i>
                              <ins>1.2k</ins>
                           </span>
                        </li>
                        <li>
                           <span class="comment" data-toggle="tooltip" title="Comments">
                              <i class="fa fa-comments-o"></i>
                              <ins>52</ins>
                           </span>
                        </li>
                        <li>
                           <span class="like" data-toggle="tooltip" title="like">
                              <i class="ti-heart"></i>
                              <ins>2.2k</ins>
                           </span>
                        </li>
                        <li>
                           <span class="dislike" data-toggle="tooltip" title="dislike">
                              <i class="ti-heart-broken"></i>
                              <ins>200</ins>
                           </span>
                        </li>
                        <li class="social-media">
                           <div class="menu">
                           <div class="btn trigger"><i class="fa fa-share-alt"></i></div>
                           <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-html5"></i></a></div>
                           </div>
                           <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-facebook"></i></a></div>
                           </div>
                           <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-google-plus"></i></a></div>
                           </div>
                           <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-twitter"></i></a></div>
                           </div>
                           <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-css3"></i></a></div>
                           </div>
                           <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-instagram"></i></a>
                              </div>
                           </div>
                              <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-dribbble"></i></a>
                              </div>
                           </div>
                           <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-pinterest"></i></a>
                              </div>
                           </div>

                           </div>
                        </li>
                     </ul>
                  </div>
                  <div class="description">
                     
                     <p>
                        Curabitur Lonely Cat Enjoying in Summer <a href="#" title="">#mypage</a> ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc,
                     </p>
                  </div>
               </div>
            </div>
            <div class="coment-area">
               <ul class="we-comet">
                  <li>
                     <div class="comet-avatar">
                        <img src="images/resources/comet-1.jpg" alt="">
                     </div>
                     <div class="we-comment">
                        <div class="coment-head">
                           <h5><a href="time-line.html" title="">Jason borne</a></h5>
                           <span>1 year ago</span>
                           <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                        </div>
                        <p>we are working for the dance and sing songs. this video is very awesome for the youngster. please vote this video and like our channel</p>
                     </div>

                  </li>
                  <li>
                     <div class="comet-avatar">
                        <img src="images/resources/comet-2.jpg" alt="">
                     </div>
                     <div class="we-comment">
                        <div class="coment-head">
                           <h5><a href="time-line.html" title="">Sophia</a></h5>
                           <span>1 week ago</span>
                           <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                        </div>
                        <p>we are working for the dance and sing songs. this video is very awesome for the youngster.
                           <i class="em em-smiley"></i>
                        </p>
                     </div>
                  </li>
                  <li>
                     <a href="#" title="" class="showmore underline">more comments</a>
                  </li>
                  <li class="post-comment">
                     <div class="comet-avatar">
                        <img src="images/resources/comet-2.jpg" alt="">
                     </div>
                     <div class="post-comt-box">
                        <form method="post">
                           <textarea placeholder="Post your comment"></textarea>
                           <div class="add-smiles">
                              <span class="em em-expressionless" title="add icon"></span>
                           </div>
                           <div class="smiles-bunch">
                              <i class="em em---1"></i>
                              <i class="em em-smiley"></i>
                              <i class="em em-anguished"></i>
                              <i class="em em-laughing"></i>
                              <i class="em em-angry"></i>
                              <i class="em em-astonished"></i>
                              <i class="em em-blush"></i>
                              <i class="em em-disappointed"></i>
                              <i class="em em-worried"></i>
                              <i class="em em-kissing_heart"></i>
                              <i class="em em-rage"></i>
                              <i class="em em-stuck_out_tongue"></i>
                           </div>
                           <button type="submit"></button>
                        </form>	
                     </div>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="central-meta item">
         <div class="user-post">
            <div class="friend-info">
               <figure>
                  <img alt="" src="images/resources/friend-avatar10.jpg">
               </figure>
               <div class="friend-name">
                  <ins><a title="" href="time-line.html">Janice Griffith</a></ins>
                  <span>published: june,2 2018 19:PM</span>
               </div>
               <div class="description">
                     
                     <p>
                        Curabitur World's most beautiful car in <a title="" href="#">#test drive booking !</a> the most beatuiful car available in america and the saudia arabia, you can book your test drive by our official website
                     </p>
                  </div>
               <div class="post-meta">
                  <div class="linked-image align-left">
                     <a title="" href="#"><img alt="" src="images/resources/page1.jpg"></a>
                  </div>
                  <div class="detail">
                     <span>Love Maid - ChillGroves</span>
                     <p>Lorem ipsum dolor sit amet, consectetur ipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua... </p>
                     <a title="" href="#">www.sample.com</a>
                  </div>		
                  <div class="we-video-info">
                     <ul>
                        <li>
                           <span class="views" data-toggle="tooltip" title="views">
                              <i class="fa fa-eye"></i>
                              <ins>1.2k</ins>
                           </span>
                        </li>
                        <li>
                           <span class="comment" data-toggle="tooltip" title="Comments">
                              <i class="fa fa-comments-o"></i>
                              <ins>52</ins>
                           </span>
                        </li>
                        <li>
                           <span class="like" data-toggle="tooltip" title="like">
                              <i class="ti-heart"></i>
                              <ins>2.2k</ins>
                           </span>
                        </li>
                        <li>
                           <span class="dislike" data-toggle="tooltip" title="dislike">
                              <i class="ti-heart-broken"></i>
                              <ins>200</ins>
                           </span>
                        </li>
                        <li class="social-media">
                           <div class="menu">
                           <div class="btn trigger"><i class="fa fa-share-alt"></i></div>
                           <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-html5"></i></a></div>
                           </div>
                           <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-facebook"></i></a></div>
                           </div>
                           <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-google-plus"></i></a></div>
                           </div>
                           <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-twitter"></i></a></div>
                           </div>
                           <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-css3"></i></a></div>
                           </div>
                           <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-instagram"></i></a>
                              </div>
                           </div>
                              <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-dribbble"></i></a>
                              </div>
                           </div>
                           <div class="rotater">
                              <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-pinterest"></i></a>
                              </div>
                           </div>

                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="col-lg-5">
      <aside class="winkusidebar static">
         <div class="widget">
            <h4 class="widget-title">Your page</h4>	
            <div class="your-page">
               <figure>
                  <a href="#" title=""><img src="images/resources/friend-avatar9.jpg" alt=""></a>
               </figure>
               <div class="page-meta">
                  <a href="#" title="" class="underline">My page</a>
                  <span><i class="ti-comment"></i><a href="insight.html" title="">Messages <em>9</em></a></span>
                  <span><i class="ti-bell"></i><a href="insight.html" title="">Notifications <em>2</em></a></span>
               </div>
               <div class="page-likes">
                  <ul class="nav nav-tabs likes-btn">
                     <li class="nav-item"><a class="active" href="#link1" data-toggle="tab">likes</a></li>
                     <li class="nav-item"><a class="" href="#link2" data-toggle="tab">views</a></li>
                  </ul>

               </div>
            </div>
         </div><!-- page like widget -->
      </aside>
   </div>
</div>

         